[submodule "contracts/jetton_dao"]
	path = contracts/jetton_dao
	url = https://github.com/EmelyanenkoK/jetton_dao
[submodule "contracts/awaited_minter"]
	path = contracts/awaited_minter
	url = https://github.com/EmelyanenkoK/modern_jetton/
